nav{
    position: fixed;
    padding: 10px;
    z-index: 1;
    top: 0;
    right: 0;
}
button{
    color: black;
    background-color: white;
    padding: 10px;
    margin: 5px;
    font-size: 80%;
    border: none;
    height: 80%;
}
textarea.polygons{
    position: absolute;
    top: 60px;
    right: 15px;
    background-color: white;
    width: 90%;
    height: 100%;
    resize: none;
}
